@font-face {
  font-display: block;
  font-family: "sofia pro light";
  src: url("https://cdn.ivanish.ca/assets/sofia-pro-light.woff2");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --maxLineLength: 56em;
  --link-hover: hsl(311, 100%, 25%);
  --black: hsl(311, 100%, 10%);
}

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}
