*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --maxLineLength: 56em;
  --link-hover: hsl(311, 100%, 25%);
  --black: hsl(311, 100%, 10%);
}

@view-transition { navigation: auto; }

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}
