[js-repl] {
  background: #CCC;
  
  canvas {
    width: 100%;
    height: 128px;
    background: black;
  }
  
  .CodeMirror {
    max-width: 100%;
    padding: .6em;
    border: 2px solid black;
    border-top: 0;
  }

  p {
    color: white;
    padding: .2em 1em;
    height: 2em;
    background: #33002A;
  }

}
