#bio {
  .columns {
    columns: 20em;
  }
  
  .columns + .columns {
    margin-top: 2em;
  }
  
  p span {
    display: block;
    font-weight: bold;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  
  p + p {
    margin-top: 1em;
  }
}
