#chronology {
  
  .chooser {
    font-size: 3em;
    text-align: center;
    
    title {
      // font-weight: bold;
    }
    
    h1 {
      font-weight: normal;
      border-bottom: 2px solid #302;
    }
    
    title, h1 {
      display: inline-block;
      font-size: 1em;
    }
  }
  
  section {
    display: flex;
    
    .thumb {
      flex: 0 0 auto;
      margin-top: .5rem;
      margin-right: .5rem;
      img {
        border: 1px solid #302;
      }
    }
    
    .beside {
      flex: 0 1 auto;
      
      h1 {
        margin: -2px 0 .5rem 1px;
        display: inline-block;
        border-bottom: 2px solid #302;
      }
      
      p {
        min-height: 45px;
      }
    }

  }
}
