#type {
  max-width: 70em;
  
  h2 {
    margin-top: 6vh;
  }
  
  ul {
    columns: 12rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    a {
      display: inline-block;
      padding: 1.5vh 0;
      line-height: 1.2em;
    }
  }
}
