#year {
  
  section {
    display: flex;
    align-items: center;
    margin: 5vh 0;
    
    & > a {
      flex: 0 0 auto;
      margin-right: 0.75rem;
      
      img {
        border: 1px solid $black;
        width: 102px;
        height: 102px;
      }
    }
    
    & > div {
      flex: 0 1 auto;
      
      h2 {
        line-height: 1.1em;
      }
    }
    
    .continue {
      display: inline-block;
      padding: 0 0.5em 0.25em;
      text-transform: lowercase;
      font-variant: small-caps;
      border-radius: 2px;
      text-decoration: none;
      letter-spacing: 1px;
      border: 1px solid rgba($black, 0.1);
      
      &:hover {
        color: white;
        background-color: $active;
      }
    }
  }
  
  section.related {
    a {
      display: inline-block;
      font-size: 1.2em;
      padding: 0 1em;
      margin-left: -1em;
    }
  }
  
  // Necessary for specificity (otherwise, the above overrides this same rule from section.scss)
  title + section {
    margin-top: 0;
  }
}
