a {
  display: inline-block; // Avoid awkward wrapping
  color: inherit;
  text-decoration: underline;
}

a, a * {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:hover {
  color: $active;
}
