body {
  display: flex;
  flex-flow: column nowrap;
  
  min-height: 100%;
  min-height: calc(100% + 6em);
  
  // font-family: "sofia pro light", sans-serif;
  font-family: "Hoefler Text";
  font-size: 16px;
  line-height: 1.5em;

  color: $black;

  -webkit-font-smoothing: subpixel-antialiased;

  &.full {
    padding: 0;
  }
  
  // This makes the header look a little nicer on iPhone 5-
  @media (max-width: 374px) { font-size: 14px; }
}
