body {
  text-align: center;
  transition: opacity .5s;
  
  &.full {
    padding: 0;
  }
  
  // This makes the header look a little nicer on iPhone 5-
  @media (max-width: 374px) { font-size: 14px; }
  
  &[fade-out=true] {
    opacity: 0;
  }
}
