body {
  display: flex;
  min-height: 100%;
  min-height: calc(100% + 6em);
  flex-flow: column nowrap;
  
  font-family: "sofia pro light", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: $black;
  
  animation: fade-in .5s ease-out .05s both;
  
  &.full {
    padding: 0;
  }
  
  // This makes the header look a little nicer on iPhone 5-
  @media (max-width: 374px) { font-size: 14px; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
