header {
  position: relative;
  text-align: center;
  z-index: 10; /* This avoids weirdly positioned elements, like the stuff on /type, from blocking the links */

  .js-stars {
    position: absolute; /* Pull the canvas out of normal flow, so be-enticed isn't pushed down below it */
  }

  be-enticed {
    display: inline-block;
    position: relative;
    font-size: 1.1em;
    padding: 3rem 0.2rem;
    color: white;
    z-index: 2;

    @media (max-width: 450px) {
      font-size: 1em;
    }
  }

  witty-quip {
    display: inline;

    & img {
      height: 1em;
    }
  }

  a {
  }

  a,
  a:visited {
    color: inherit;
    &:hover {
      color: inherit; // Need this for specificity in Chrome on the index page, ugh
      opacity: 0.8;
    }
  }
}
