header {
  position: relative;
  text-align: center;
  z-index: 10;

  .js-stars {
    position: absolute;
  }

  a, a:visited {
    color: white;
    &:hover { color: #DDD; }
  }

  div {
    display: inline-block;
    position: relative;
    font-size: 1.1em;
    padding: 3rem .2rem;
    color: white;
    z-index: 2;

    @media (max-width: 450px) { font-size: 1em; }
  }
}
