hr {
  // Normalize
  box-sizing: content-box; // Add the correct box sizing in Firefox
  height: 0; // Add the correct box sizing in Firefox

  margin: 3em 0;

  border: none;
  border-bottom: 3px solid $black;
}
