main {
  flex: 1 0 auto;
  width: 100%;
  max-width: $maxLineLength;
  margin: 0 auto;
  padding: 8vh 1rem 16vh;

  @media (max-width: 400px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

main.full {
  max-width: none;
  padding: 0;
}
