main {
  flex: 1 0 auto;
  padding: 1rem 1rem 8rem;
  
  animation: fade-in .5s ease-out .05s both;
  
  @media (max-width: 330px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
