main {
  width: 100%;
  max-width: var(--maxLineLength);
  margin: 0 auto;
  padding: 8vh 2em 12vh;
  text-align: left;

  @media (max-width: 56em) {
    padding: 8vh 3vw 16vh;
  }
}

main.full {
  max-width: none;
  padding: 0;

  canvas {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

main > .full {
  --space: calc(100vw + 4em - var(--maxLineLength));
  margin-left: calc(-0.5 * var(--space));
  width: 100vw;

  @media (max-width: 56em) {
    margin-left: -3vw;
  }
}
