.audio {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 2px solid #393939;
  background: #393939;
  color: white;
  
  audio {
    flex: 1 1 auto;
  }
  
  a, span {
    flex: 0 1 auto;
    margin: .2em .5em;
  }
}
