.audio {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  vertical-align: middle;
  border: 8px solid #393939;
  border-radius: 400px;
  background: #393939;
  color: white;

  audio {
    flex: 1 1 auto;
  }

  a, span {
    flex: 0 1 auto;
    margin: .2em .5em;
  }

  a:hover {
    color: #ccc;
  }
}
