// I've found .photos, .hero, and .full to be too complex.
// This tries to be simpler.
// Apply it to a container around an iframe, object, img, or video.

.full-width {
  // Undo the main column padding, so we pull to the left edge of the screen.
  margin: 10vh 0 10vh calc(26em - 50vw);
  @media (max-width: $maxLineLength) { margin-left: -3vw; }
  
  // Definitely fill the full width, hey?
  & > * {
    width: 100vw;
    max-width: none;
  }
  
  // Don't be too tall
  iframe, object {
    height: 80vh;
  }
}
