.hero {
  display: block;
  text-align: center;
  margin: 6vh 0 4vh;
  
  img, video {
    max-width: 100%;
  }
  
  p {
    margin-top: 1vh;
  }
}

title + .hero {
  margin-top: 0;
}

title + section > .hero:first-child {
  margin-top: 0;
}
