.stars {
  position: relative;
  padding: 1rem;
  padding-right: 0;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  color: white;
  text-shadow: 0 0 3px $black;
  -webkit-font-smoothing: subpixel-antialiased;
  
  a, a:visited {
    color: white;
  }
  
  canvas {
    position: absolute;
    width: 100%; // Necessary because the JS sets the canvas width to 2x the monitor's width, for retina
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  @media (max-width: 330px) {
    padding-left: 0.5rem;
  }
}
