.stars {
  position: relative;
  padding: 1rem;
  padding-right: 0;
  color: white;
  background: $black;
  text-shadow: 0 0 3px $black;

  font-family: "Helvetica Neue";
  font-weight: bold;
  
  a, a:visited {
    color: white;
  }
  
  canvas {
    position: absolute;
    width: 100%; // Necessary because the JS sets the canvas width to 2x the monitor's width, for retina
    height: 100%;
    top: 0;
    left: 0;
  }
  
  div {
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 330px) {
    padding-left: 0.5rem;
  }
}
