.js-stars {
  width: 100%; /* Necessary because the JS sets the canvas width to 2x the monitor's width, for retina */
  height: 100%;
  visibility: visible!important; /* We have a problem with the JS running before the CSS is ready, so we do this to delay things a bit */
  background-color: hsl(250, 30%, 5%);
  background: radial-gradient(at bottom left, hsl(210, 100%, 8%) 0%, hsl(250,60%,10%) 20%, hsl(250,40%,7%) 40%, hsl(330, 40%, 9%) 80%, hsl(10, 50%, 13%) 100%);

  &[bw] {
    background: radial-gradient(at bottom left, #111 0%, #222 20%, #111 40%, #111 90%, #222 100%);
  }

  &[bio] {
    background: radial-gradient(at bottom left, hsl(206,12%,10%) 0%, hsl(250,15%,13%) 35%, hsl(250,12%,7%) 70%, hsl(0, 10%, 12%) 80%, hsl(8, 13%, 5%) 100%);
  }
}
