.types {
  display: inline-block;
  max-width: none;
  width: auto;
  padding-left: 10vw;
  padding-right: 10vw;

  title {
    text-align: center;
  }

  & > div {
    margin: 6vh 0;
    vertical-align: top;
    text-align: center;

    & + div {
      margin-top: 12vh;
    }

    h2 {
      display: block;
      margin-bottom: 0;
      font-size: 2.2em;
    }

    a {
      display: inline-flex;
      align-items: center;
      max-width: 15em;
      margin: 1rem 1rem 2rem;
      text-align: left;
      font-size: 1.2em;
      line-height: 1.1;
      text-decoration: none;
      &:hover { opacity: 1; }

      img, canvas, video {
        flex: 0 0 5.2em;
        width: 5.2em;
        height: 5.2em;
        margin: .5rem .6em;
        border-radius: 100%;
        * { border-radius: 100%; }
      }
    }
  }
}
