.types {
  display: inline-block;
  max-width: none;
  width: auto;
  
  h2 {
    margin-bottom: 2vh;
  }
  
  div {
    display: inline-block;
    vertical-align: top;
    max-width: 18em;
    margin: 0 calc(4vw + 2em) 10vh 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  li {
    padding: .5em 0;
    line-height: 1.1;
  }

  a { font-size: 1.2em; }
  
  .related {
    text-align: center;
    margin-top: 0;
  }
}
