.types {
  display: inline-block;
  max-width: none;
  width: auto;

  title {
    text-align: center;
  }

  div {
    margin: 8vh -1em;
    vertical-align: top;
    text-align: center;

    h2 {
      display: block;
      margin-bottom: 0;
      font-size: 2.2em;
    }

    a {
      display: inline-flex;
      align-items: center;
      margin: .5em 1.5em 2em;
      text-align: left;
      font-size: 1.2em;
      line-height: 1.1;
      text-decoration: none;
      &:hover { opacity: 1; }

      & > :first-child {
        flex: 0 0 100px;
        width: 100px;
        height: 100px;
        margin: .5rem;
        border-radius: 100%;
        * { border-radius: 100%; }
      }
    }
  }

  .related {
    margin-top: 4vh;
    text-align: center;

    a {
      font-size: 1.2em;
      padding: 0 .5em;
    }
  }
}
